import 'package:flutter/material.dart';

///
/// @date: ${date_time}
/// @author: ${user_name}
/// @remark:
///

class ${className} extends StatelessWidget {
  const ${className}({super.key});

  @override
  Widget build(BuildContext context) {
    return Scaffold(appBar: AppBar(), body: Container());
  }
}
